.nav {
    width: 100%;
    height: 62px;
    background-color: rgb(26, 9, 4);
}

.nav .nav_menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav .item {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    width: 22.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #5b5b5b;
    box-sizing: border-box;
    padding: 0px 110px;
    cursor: pointer;
    position: relative;
}

.nav .item:nth-child(1) {
    padding: 0;
}

.nav .item #language_name {
    width: 370px;
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: center;
}

.nav .item .count {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: #5b5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    box-sizing: border-box;
    font-size: 23px;
}


.nav li img {
    width: 30px;
    height: 30px;
}


.nav li:nth-child(3) {
    color: #5b5b5b;
}

.nav li:nth-child(4) {
    color: #5b5b5b;
}

.nav li:nth-child(1) {
    text-align: center;
}


.nav li:nth-child(1) img.open {
    position: absolute;
    right: 10px;
    transform: rotate(180deg)
}

.nav li:nth-child(1) img.closed {
    position: absolute;
    right: 10px;
    transform: rotate(0deg)
}

.nav li:nth-child(5) {
    width: 10%;
    padding: 0px 50px;
    font-weight: bold;
}

.languages {
    flex-flow: column;
    width: 100%;
    height: auto;
    background-color: #aaaaaa;
    top: 62px;
    position: absolute;
    z-index: 2;
}

.languages li{
    height: 62px;
    color: #000;
    z-index: 3;
    background-color: rgb(26, 9, 4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
